<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
 
   <!-- Spring的属性注入的方式 -->
   <!-- 构造方法的方式 -->
   <bean id="car" class="demo1.Car">
   		<constructor-arg name="name" value="宝马" />
   		<constructor-arg name="price" value="800000"/>
   </bean>
</beans>
